@model IEnumerable<KHO.Models.MatHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<h2>QUẢN LÍ KHO HÀNG</h2>
@foreach (var mathang in Model)
{
    <li>
        <a href="@Url.Action("Danh sách", "KHO", new {id = mathang.MaMH})">
            <span>@mathang.TenMH</span>
            </a>
    </li>

    
}

